h1 { font-size: 1.4em; color: #65944A; }
h2 { font-size: 1.2em; text-transform: uppercase; }
h3 { font-size: 1.2em; }

blockquote {
	font: bold 1.2em/1.5em "Trebuchet MS", Tahoma, sans-serif;
}

textarea {
	width: 400px;
}

button {
    margin-left: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
    font: bold 12px 'Trebuchet Ms', Sans-serif;	
	border: 1px solid #a0a0a0;
	color: #65944A;
	background-color: #f0f0f0;
}

button[disabled] {
	color: #a0a0a0;
	border: 1px solid #d0d0d0;
	cursor: not-allowed;
  }

dialog {
	min-width: 200px;
	min-height: 100px;
	margin-top: 25%;	
	margin-left: 40%;
	margin-right: 40%;
	padding: 20px;
}

/* header */
#header {
	height: 100px;
	text-align: left;
	background-color: #a0a0a0;
	border-bottom: 3px solid #272727;	
	margin-bottom: 10px;
}

#header-content {
	margin: 0 auto;
	padding: 0;
	position: relative;
}

#header-content h1#logo {
	position: absolute;
	font: bold 45px 'Trebuchet MS', Sans-serif;
	letter-spacing: -2px;
	color: #FFF;
	margin: 0; 
	padding: 0;

	/* change the values of left and top to adjust the position of the logo */
	top: 5px; 
	left: 10px;
}

#header-content h1#logo a {
	text-decoration: none;
	color: #FFF;
}

#header-content #slogan {
	position: absolute;
	font: bold 12px 'Trebuchet Ms', Sans-serif;
	text-transform: none;
	color: #FFF;
	margin: 0;
	padding: 0;
	top: 55px;
	left: 40px;
}

/* header menu */
#header-content ul {
	position: absolute;
	right: 5px; 
	top: 15px;
	font: bolder 1.3em 'Trebuchet MS', sans-serif;
	color: #FFF;
	list-style: none;
	margin: 0; 
	padding: 0;
}

#header-content li {
	display: inline;
}

#header-content li a {
	float: left;
	display: block;
	padding: 3px 12px;
	color: #FFF;
	background-color: #333;
	text-decoration: none;
	border-right: 1px solid #272727;
}

#header-content li a:hover {
	background: #65944A;
	color: #FFF;
}

#header-content li a#current  {
	background: #65944A;
	color: #FFF;
}

#header-content .rss {
	border: 0px;
	padding: 0px;
}

/* content */
#content-wrap {
	clear: both;
	width: 100%;
	min-width: 1150px;
	min-height: 800px;
}

#content {
	text-align: left;
	padding: 0;
	margin: 0 auto;
}

.post {
	margin-bottom: 20px;
}

.post table {
    width: 95%;
}

.post table td {
	border: #e0e0e0 1px solid;
}

.post table .selected {
	background-color: #f0f0f0;	
}

.post table .selectRow {
	width: 12px;
}

.post table .contentCell {
    text-overflow: ellipsis;
    overflow: hidden;
    max-height: 36px;
    max-width: 500px;
}

.post table tr {
	max-height: 32px;
}

.post table .date {
	width: 100px;
}

.post table tfoot {
	background-color: #f0f0f0;
}

.post table tfoot a {
	margin-right: 20px;
	font-weight: bold;
	color: #404040;
}

.post table tfoot .current {
	color: #65944A;
}

.post caption {
    padding-top: 10px;
    padding-bottom: 10px;
    white-space: nowrap;
}

.post caption label {
    margin-right: 10px;
}

.post caption button {	
    margin-right: 10px;
}

.post caption select {
	margin-left: 10px;
	height: 30px;
	width: 200px;
	background-color: #f0f0f0;
	color: #777;
	border: #e0e0e0 1px solid;
	font: normal 16px 'Trebuchet Ms', Sans-serif;
}

.post caption input[type=text] {
    font: normal 16px 'Trebuchet Ms', Sans-serif;
	padding-left: 5px;	
    flex-grow: 1;
}

.post caption input[type=datetime-local] {
    font: normal 16px 'Trebuchet Ms', Sans-serif;
	padding-left: 5px;	
    flex-grow: 1;
	width: 200px;
	height: 24px;
}

.post caption input[type=checkbox] {
    margin-left:  0px;
    margin-right: 5px;
	height: 36px;
    vertical-align: middle;
}

.post caption .buttons {
    height: 36px;
    width: 100%;
    display: flex;
    overflow: hidden;
    float: right;
	margin-top: 5px;
}

.post caption .date {
	margin-left: 10px;
	width: 150px;
}

#editMessage .values {
    min-width: 400px;
    min-height: 200px;
    color: #404040;
}

#editMessage p {
    text-align: left;
    width: 90%;
    display: flex;
}

#editMessage p span {
    color: #65944A;
    font-weight: bold;
    min-width: 80px;
    margin-right: 10px;
}

#editMessage input[type=text] {
    font: normal 12px 'Trebuchet Ms', Sans-serif;
	padding-left: 5px;
	min-width: 200px;
	max-width: 350px;
}

#editMessage textarea {
    font: normal 12px 'Trebuchet Ms', Sans-serif;
	padding-left: 5px;
	min-width: 200px;
	max-width: 350px;
}

p.errorMessage {
    color: #ff0000 !important;
    text-align: center !important;
    font-weight: bold;
    height: 30px;
}
