* {
  margin: 0;
  padding: 0;
}

#disconnect {
  display: none;
}
#subscribe {
  display: none;
}

#debug {
  background-color: #A0A0A0;
  color: #006000;
  font-size: 8px;
  min-height: 100px;
  max-height: 200px;
  overflow: auto;
  padding: 10px;
  right: 10px;
  top: 10px;
  min-width: 250px;
  max-width: 250px;
  z-index: 100;
  border: 1px solid #606060;
}

#send_form {
  bottom: 5px;
  position: absolute;
  width: 815px;
}

#send_form #send_form_input {
  border: 1px solid #CCC;
  font-size: 16px;
  height: 20px;
  padding: 5px;
  width: 98%;
}

#send_form input[disabled] {
  background-color: #EEE;
}

#messages {
  bottom: 25px;
  left: 0;
  overflow: auto;
  padding: 5px;
  right: 0;
  top: 2em;
  z-index: -1;
  max-height: 250px;
  min-height: 150px;
  font-size: 10px;
  background-color: #C0C0C0;
}

.message {
  width: 95%;
}

.timestamp {
  font-size: 12px;
}

.me, .nick {
  float: left;
  width: 100px;
}

.me {
  color: #F99;
}

.nick {
  color: #99F;
}

.status {
  background-color: #DDD;
}

form dt {
   clear:both;
   width:19%;
   float:left;
   text-align:right;
}

form dd {
   float:left;
   width:80%;
   margin:0 0 0.5em 0.25em;
}

input {
   width: 320px;
}