#---------------------------------------------------------------------
# Global settings
#---------------------------------------------------------------------
global
    log         127.0.0.1 local2
    chroot      /var/lib/haproxy
    user        haproxy
    group       haproxy
    # daemon
    
    # turn on stats unix socket
    stats socket /var/lib/haproxy/stats
    tune.ssl.default-dh-param 2048
    ssl-default-bind-options no-sslv3 no-tls-tickets force-tlsv12
    ssl-default-bind-ciphers ECDH+AESGCM:DH+AESGCM:ECDH+AES256:DH+AES256:ECDH+AES128:DH+AES:ECDH+3DES:DH+3DES:RSA+AESGCM:RSA+AES:RSA+3DES:!aNULL:!MD5:!DSS
    
#---------------------------------------------------------------------
# common defaults that all the 'listen' and 'backend' sections will
# use if not designated in their block
#---------------------------------------------------------------------
defaults
    mode                    http
    log                     global
    option                  httplog
    option                  dontlognull
    option                  http-server-close
    option                  redispatch
    retries                 3
    timeout http-request    10s
    timeout queue           1m
    timeout connect         10s
    timeout client          1m
    timeout server          1m
    timeout http-keep-alive 10s
    timeout check           10s
    timeout tunnel          3600s
    maxconn                 3000
    default-server init-addr last,libc,none

frontend statistics
    bind *:5001 ssl crt /etc/haproxy/node.pem
    stats enable
    stats uri /

frontend http-in
    bind            *:80
    reqadd          X-Forwarded-Proto:\ http
    default_backend nodes-http

frontend https-in
    bind            :443 ssl crt /etc/haproxy/node.pem alpn h2,http/1.1
    mode            tcp
    option          tcplog
    reqadd          X-Forwarded-Proto:\ https
    http-response   set-header Strict-Transport-Security "max-age=16000000; includeSubDomains; preload;"
    use_backend     nodes-http2 if { ssl_fc_alpn -i h2 }
    default_backend nodes-http

frontend stomp-in
    bind            *:61614
    mode            tcp
    option          tcplog
    reqadd          X-Forwarded-Proto:\ http
    default_backend nodes-stomp

backend nodes-http
    mode            http
    option          httplog
    option          forwardfor except 127.0.0.0/8
    option          httpchk GET /
{{if gt (len (ls "/services/stomp-test-8080/")) 0}}{{ range gets "/services/stomp-test-8080/*:8080" }}{{ $node := index (split (index (split .Key "/") 3) ":") 1 }}
    server {{ $node }} {{.Value}} check inter 5000{{ end }}
{{end}}

backend nodes-http2
    mode            tcp
    option          tcplog
    option          httpchk GET /
{{if gt (len (ls "/services/stomp-test-8443/")) 0}}{{ range gets "/services/stomp-test-8443/*:8443" }}{{ $node := index (split (index (split .Key "/") 3) ":") 1 }}
    server {{ $node }} {{.Value}} check ssl verify none inter 5000{{ end }}
{{end}}

backend nodes-stomp
    mode            tcp
    option          tcplog
{{if gt (len (ls "/services/stomp-test-61614/")) 0}}{{ range gets "/services/stomp-test-61614/*:61614" }}{{ $node := index (split (index (split .Key "/") 3) ":") 1 }}
    server {{ $node }} {{.Value}} check inter 5000{{ end }}
{{end}}
